<div class="home-container">
  <h1>Welcome to Pet Lovers</h1>
  <div class="pet-cards-container">
    <div *ngFor="let pet of pets" class="pet-card" (click)="navigateToPetDetails(pet.id)">
      <img [src]= "apiURL + pet.imageUrls[0]" alt="{{ pet.name }}" class="pet-image"/>
      <div class="pet-info">
        <h2>{{ pet.name }}</h2>
        <p>{{ pet.description }}</p>
        <h3>Owner: {{pet.owner.name}}</h3>
        <button class="adopt-btn">Adopt Me</button>
      </div>
    </div>
  </div>
</div>
